@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/Norse-Bold.otf");
}

body {
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    background-color: #f7f7f7;
}

.left-container, .right-container {
    min-height: 100vh;
}

.left-container {
    display: flex;
    justify-content: center;
    width: 40%;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10rem;
    height: 10rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.logo-text {
    color: white;
    font-size: 6rem;
    font-family: "Norse Bold";
}

.logo {
    width: 100px;
    height: 80%;
}

.photo-credits {
    color: #f7f7f7;
    position: fixed;
    bottom: 1rem;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-text {
    font-weight: bold;
    font-size: 19px;
    margin-top: 10rem;
    padding: 0 10rem 0 15px;
    height: 10rem;
}

.form {
    padding-left: 15px;
    background-color: white;
    box-shadow: 1px 3px 5px lightgray;
}

form {
    display: flex;
    gap: 8rem;
}

label, input {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(73, 72, 72);
}

input {
    border: 1px solid #E5E7EB;
}

input:focus {
    outline: none;
    border: 1px solid rgb(43, 106, 223);
    box-shadow: 1px 3px 5px lightgray;
}

.access {
    margin-top: 2rem;
    margin-left: 1rem;
}

.access > button {
    color: white;
    background-color: #596D48;
    border: 0;
    font-weight: bold;
    padding: 10px 25px;
}

.access > button:hover {
   background-color: #364e21;
}

.log-in {
    color: #596D48;
    font-weight: bold;
}
